snippet doc "document layout"
\documentclass[letterpaper]{article}

\begin{document}
  \begin{equation}
    1 + 2 = 3
  \end{equation}
  \begin{equation}
    234 + 5 = 125129
  \end{equation}
\end{document}
endsnippet
