export EDITOR=vim
export HOMEBREW_NO_ANALYTICS=1
export PATH=/usr/local/bin:$PATH
export LOCAL_ROOT=${HOME}/.local

# these should be defined in ~/.localrc
# export BREW_ROOT=
# export CONDA_ROOT=
# export CUDA_ROOT=
# export TORCH_ROOT=
