#!/usr/bin/env sh

[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
export PATH=/usr/local/bin:$PATH
LOCAL=~/local

if [ -d $LOCAL ]; then
    export PATH=${LOCAL}/bin:$PATH
    export LD_LIBRARY_PATH=${LOCAL}/lib:$LD_LIBRARY_PATH
fi

export VICTOR_ROOT=${HOME}/.victor
export PATH=${VICTOR_ROOT}/bin:$PATH
export LD_LIBRARY_PATH=${VICTOR_ROOT}/lib:$LD_LIBRARY_PATH

if [ -d $CONDA_ROOT ]; then
    export PATH=${CONDA_ROOT}/bin:$PATH
    export LD_LIBRARY_PATH=${CONDA_ROOT}/lib:$LD_LIBRARY_PATH
fi

if [ -d $CUDA_ROOT ]; then
    export PATH=${CUDA_ROOT}/bin:$PATH
    export LD_LIBRARY_PATH=${CUDA_ROOT}/lib64:$LD_LIBRARY_PATH
fi

if [ -d $CAFFE_ROOT ]; then
    export PYTHONPATH=${CAFFE_ROOT}/python:$PYTHONPATH
fi

if [ -d $TORCH_ROOT ]; then
    source ${TORCH_ROOT}/install/bin/torch-activate
fi

export PATH=/usr/local/bin:/usr/local/sbin:$PATH
LOCAL=~/local

if [ -d $LOCAL ]; then
    export PATH=${LOCAL}/bin:$PATH
    export LD_LIBRARY_PATH=${LOCAL}/lib:$LD_LIBRARY_PATH
fi

export VICTOR_ROOT=${HOME}/.victor
export PATH=${VICTOR_ROOT}/bin:$PATH
export LD_LIBRARY_PATH=${VICTOR_ROOT}/lib:$LD_LIBRARY_PATH

export EDITOR=vim
