#!/usr/bin/env sh

export PATH=/usr/local/bin:$PATH
LOCAL=~/local

if [ -d $LOCAL ]; then
    export PATH=${LOCAL}/bin:$PATH
    export LD_LIBRARY_PATH=${LOCAL}/lib:$LD_LIBRARY_PATH
fi

export LOCAL_ROOT=${HOME}/.local
export PATH=${LOCAL_ROOT}/bin:$PATH
export LD_LIBRARY_PATH=${VICTOR_ROOT}/lib:$LD_LIBRARY_PATH

if [ -d $CUDA_ROOT ]; then
    export PATH=${CUDA_ROOT}/bin:$PATH
    export LD_LIBRARY_PATH=${CUDA_ROOT}/lib64:$LD_LIBRARY_PATH
fi

if [ -d $CAFFE_ROOT ]; then
    export PYTHONPATH=${CAFFE_ROOT}/python:$PYTHONPATH
fi

if [ -d $TORCH_ROOT ]; then
    source ${TORCH_ROOT}/install/bin/torch-activate
fi

export PATH=/usr/local/bin:/usr/local/sbin:$PATH
LOCAL=~/local

if [ -d $BREW_ROOT ]; then
  export PATH=${BREW_ROOT}/bin:${BREW_ROOT}/sbin:$PATH
  export MANPATH=${BREW_ROOT}/share/man:$MANPATH
  export INFOPATH=${BREW_ROOT}/share/info:$INFOPATH
fi

if [ -d $LOCAL ]; then
    export PATH=${LOCAL}/bin:$PATH
    export LD_LIBRARY_PATH=${LOCAL}/lib:$LD_LIBRARY_PATH
fi

export LOCAL_ROOT=${HOME}/.local
export PATH=${LOCAL_ROOT}/bin:$PATH
export LD_LIBRARY_PATH=${LOCAL_ROOT}/lib:$LD_LIBRARY_PATH

# Anaconda from install.py
export PATH="$HOME"/anaconda3/bin:"$PATH"

export EDITOR=vim
