if [[ $- == *i* ]] 
then
  echo "Hello ${USER}!"
else
  exit 0
fi

# load zgen
source "${HOME}/config/zgen/zgen.zsh"

# # check if there's no init script
if ! zgen saved; then
    echo "Creating a zgen save"

    zgen oh-my-zsh

    # plugins
    zgen oh-my-zsh plugins/git
    zgen oh-my-zsh plugins/sudo
    zgen oh-my-zsh plugins/command-not-found
    zgen load zsh-users/zsh-syntax-highlighting

    # completions
    zgen load zsh-users/zsh-completions src

    # theme
    zgen oh-my-zsh themes/dst

    # save all to init script
    zgen save
fi


source ~/.funcrc

if [ -f ~/.localrc ]; then
    source ~/.localrc
fi

source ~/.pathrc

export PATH="$PATH:$HOME/.rvm/bin" # Add RVM to PATH for scripting
