[
  {
    "url" : "\/Clipboard.clipboard",
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "modifierFlags" : 1179648,
    "enabled" : true,
    "order" : 0,
    "keyCode" : 49
  },
  {
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 46,
    "openSelectedFiles" : true,
    "order" : 1,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAMIbjXpUPygJe8\/vJJTtq71k4c3d7E7+4iVb1+WW+i+oYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAAA2GgAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBxfUErAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAAN0U3MTlGQkQtQjcyMS00MDBFLUIyMjUtODZGQUE3OTA0NkEyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : false,
    "url" : "\/System\/Applications\/Mail.app",
    "modifierFlags" : 1179648
  },
  {
    "openSelectedFiles" : false,
    "enabled" : true,
    "keyCode" : 29,
    "hideIfActive" : true,
    "url" : "\/System\/Applications\/Utilities\/Terminal.app",
    "modifierFlags" : 1179914,
    "order" : 2,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9va3ACAAAAAAQQMAAAALYijxE93DHXm778xEJrSlG2JoYzUZ2ao1cnuei++WxIkAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJtaW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAA3W4AAP\/\/\/w8IAAAABAMAAHyDAAD\/\/\/8PEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBxfUErAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAAN0U3MTlGQkQtQjcyMS00MDBFLUIyMjUtODZGQUE3OTA0NkEyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAAANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAABSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAAAAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwBAAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "modifierFlags" : 1179914,
    "url" : "\/Applications\/Arc.app",
    "openSelectedFolders" : true,
    "keyCode" : 25,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "enabled" : true,
    "order" : 3,
    "bookmark" : "Ym9vaygCAAAAAAQQMAAAAAR4fTSNksyBCjRh2RBVMHd61q5nC+LgKhw6bfGYk7w6SAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zBwAAAAEBAABBcmMuYXBwAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAH0WBQAAAAAACAAAAAQDAABOYwoAAAAAAAgAAAABBgAARAAAAFQAAAAIAAAAAAQAAEHGH3yYgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxfUErAAAACQAAAABAQAAN0U3MTlGQkQtQjcyMS00MDBFLUIyMjUtODZGQUE3OTA0NkEyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQAAAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA"
  }
]